body {
    margin: 10;
    font-family: helvetica;
}

/* LANDING PAGE */

#name {
    background-image: url("landing.jpeg");
    width: 100%;
    background-size: cover;
    height: 930px;
}

.container{
    display: block;
    width: 100%;
    height: 930px;
    background-color: rgba(15, 14, 14, 0.527);
}
.container h1 {
    margin-top: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: whitesmoke;
    text-transform: capitalize;
    padding-top: 200px;
}
.line {
    background-color: rgb(187, 180, 167);
    display: block;
    height: 5px;
    width: 35%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 150px;
}

.buttons {
    display: flex;
}

.pin {
 width: 50%;
 margin: 20px;
}

.pin a {
    text-decoration: none;
    color: whitesmoke;
}
.left button{
 background-color: gray;
 color: white;
 float: right;
 border: 10px solid gray;
}
.right button{
    background-color: transparent;
    border: 10px solid whitesmoke;
}
.pin button
    {
    padding: 20px;
    width: 60%;
    text-decoration: white;
    font-size: 20px;
    font-weight: bold;
   margin: auto;
   text-transform: uppercase;
}

/* LANDING PAGE RESPONSIVENESS */

@media (max-width: 500px){
    .container h1 {
        font-size: 50px;
        padding-top: 100px;
    }
    .line
    {
        margin-bottom: 100px;
    }
    .buttons {
        display: block;
        width: 90%;
        margin: auto;
    }

    .pin {
        width: 90%;
        margin: auto;
    }

    .pin button{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .left  button {
        float: left;
        margin-bottom: 20px;
    }
}

/* NAME SECTION */

.clearfix {
  overflow: auto;
  zoom: 1;
}

.landing {
    display: flex;
    width: 100%;
    height: 600px;
    background-color:white;
    padding: 0;
}

 .lefty{
    font-size: 50px;
    font-family: helvetica;
    margin: 100px;
    color: gray;
    width: 40%;
    border: 20px solid gray;
    padding: 20px;    
}

.okuhle {
    width: 50%;
    background-image: url('waterfront.jpg');
    background-position: center;
    background-size: cover;
    padding: 0;
}
.sections {
    width: 50%;
    padding: 20px;
    border: 10px solid gray;
    font-size: 20px;
    height: 100px;
    font-weight: bold;
    background-color: gray;
    margin-top: 100px;
}
.sections a {
    text-decoration: none;
    color: white;
}
.back img{
    display: none;
}

/* NAME SECTION RESPONSIVENESS */
@media (max-width:1560px){
    .sections {
        margin-top: 0;
    }
}
@media (max-width:840px){
    .landing {
        display: block;
        width: 100;
        height: 100%;
        
    }
    .sections {
        display: none;
    }
    .lefty {
        border: 0;
        border-left: 100px solid gray;
        line-height: 1.5;
        border-radius: 10px;
        /* //text-transform: uppercase; */
        width: 60%;
        margin: auto;
        height: 350px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .back img{
        display: block;
        width: 80%;
        border-radius: 10px;
        margin: auto;
        height: 450px;
    }
}
@media (max-width:600px){
    .lefty {
        margin: auto; 
        /* border-bottom: 10px solid gray; */
        border-left: none;
        font-size: 40px;
        text-align: center;
        width: 80%;
        padding: 0;
        height: 300px;
        padding-top: 50px;

    }
}

/* WHICH CITY SECTIIONN */
.hub {
    display: flex;
    height: 500px;
    padding: 1em;
}

.hub h2 {
    font-size: 40px;
    color: gray;
    font-weight: bolder;
}
.sili {
    display: block;
    margin-left: 20px;
}
.hub h3 {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(247, 192, 144);
}

.hub p {
    font-size: 17px;
}
.valley {
    width : 50%;
    padding: 40px;
}
.hub .left {
    background-image: url("silicon.jpg");
    background-repeat: no-repeat;
}

.valley button {
    width: 40%;
    padding: 20px;
    border: 7px solid gray;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    background-color: transparent;
}
.valley a {
    text-decoration: none;
    color: gray;
}

/* WHICH CITY RESPONSIVENESS */

@media (max-width: 1130px){
    .valley {
        padding-top: 0;
        height: 100%;
    }
    .valley button {
        width: 60%;
        padding: 10px;
        font-size: 15px;
        margin-top: 0;
    }
}
@media (max-width: 840px){
    .hub {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0%;
    }
    .left{
        border-radius: 10px;
        height: 400px;
    }
    .valley {
        text-align: justify;
        width: 70%;
        margin: auto;
        font-size: 20px;

    }

    .valley p{
        font-size: 20px;
    }
    .sili
    {
        display: block;
        text-align: center;
        font-size: 55px;
        text-decoration: underline;
        padding-top: 20px;
        margin-bottom: 20x;
    }
   
}


/* WHICH LANGUAGE SECTION */
#language {
    background-color: white;
}
.china {
    height: 500px;
    margin-bottom: 80px;
}
.china h3
{
font-size: 40px;
color: rgb(247, 192, 144);
padding-bottom: 20px;
text-align: center;
}
table {
    background-color: white;
    border-collapse: collapse;
    margin: auto;
  width: 80%;
  border: 10px solid rgb(247, 192, 144);;
  padding: 20px;
  margin-bottom: 50px;
}
td {
    width: 40%;
    text-align: center;
    font-size: 20px;
    height: 4em;
    color: gray;
    border: 2px solid rgb(247, 192, 144); 
}
th {
    height: 4em;
    color: gray;
    border: 2px solid rgb(247, 192, 144); 
    font-size: 25px;
    
}

/* HISTORICAL PLACES SECTION */
.historical h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;  
    color: rgb(247, 192, 144);
}
.places {
    width: 100%;                
    display: flex;
    padding: 10px;
}
.three {
    display: flex;
    width: 100%;
    margin: auto;
}

.three h4 {
    font-size: 25px;
    text-align: center;
}
.three .district {
    background-image: url('district6.jpg');
    background-position: center;
    background-size:cover;
    width: 40%;
    margin: 10;
    height: 450px;
}
.three .city {
    background-image: url('cityhall.jpg');
    background-position: bottom;
    background-size: cover;   
    width: 40%;
   /* //margin: 10; */
    height: 450px;

}
.three .church {
    background-image: url('church.jpg');
    background-position: center;
    background-size: cover; 
    width: 40%;
    /* margin: 10; */
    height:450px;
}
.three .content {
    /* background-color: rgb(247, 192, 144);; */
    color: gray;
    width: 40%;
    font-size: 17px;
    padding: 18px;
    height: 400px;
    border: 7px solid gray;
    
}
.heade {
    display: block;
    width: 90%;
    font-size: 35px;
    color: rgb(247, 192, 144);
}
.pink{
    display: none;
}

/* RESPONSIVENESS */

@media (max-width: 1150px){
    .three .content {
        border: 0;
        padding: 0;
        padding-right: 10px;
        font-size: 16px;
    }
}
@media (max-width: 940px){
    .places{
        display: block;
    }
    .heade {
        width: 80%;
        margin: auto;
    }
    .three .content {
        font-size: 20px;
    }
    .historical h2 {
        text-align: center;
    }
    .three {
        margin-bottom: 30px;
    }
    
    
    .pink {
        display: block;
        margin-right: 15px;
    }
    .blink {
        display:none;
    }
}
@media (max-width:650px){
    .three .content{
font-size: 17px;
    }
    .heade {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
        margin-left: 10px;
    }
}


